<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--camera permission-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--read permission for Bitmap Mode-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--write permission for save QRCODE Bitmap,not for scankit itself-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />-->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/sparkle_app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sparkle"
        tools:targetApi="31">

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <activity
            android:name=".login.view.LoginAct"
            android:exported="true">

        </activity>

        <activity
            android:name=".BootActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".TmpActivity"
            android:exported="true">

        </activity>


        <activity
            android:name=".mainv2.view.MainActivityV2"
            android:launchMode="singleTask" />

        <activity
            android:name=".register.view.RegisterAct"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".setting.view.SettingsActivity"
            android:launchMode="singleTask" />

        <activity android:name=".flutter.FlutterProxyActivity" />

        <activity android:name=".setting.view.LanguageActivity" />
        <activity android:name=".setting.view.ConnectedAccountActivity" />

        <activity
            android:name=".profile.view.ProfileAct"
            android:launchMode="singleTask" />
        <activity
            android:name=".profile.view.ShareAct"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity android:name=".profile.view.CompatibilityAct" />
        <activity android:name=".profile.view.CompatibilityRelationAct" />

        <activity android:name=".im.view.ChatActivity" />
        <activity android:name=".im.view.IMSearchFriendAct" />
        <activity android:name=".im.view.IMAddFriendAct" />
        <activity android:name=".im.view.IMContactListAct" />
        <activity android:name=".im.view.IMForwardListAct" />
        <activity android:name=".im.view.IMScanAct" />

        <!-- <activity
             android:name="io.flutter.embedding.android.FlutterActivity"
             android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
             android:hardwareAccelerated="true"
             android:theme="@style/MyTheme"
             android:windowSoftInputMode="adjustResize" />-->

    </application>

</manifest>