<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sparkle"
        tools:targetApi="31">

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />

        <activity
            android:name=".login.view.LoginAct"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".TmpActivity"
            android:exported="true">

        </activity>

        <receiver
            android:name=".main.view.MainLeftFragment$AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cyberflow.sparkle.main.view.MainLeftFragment.AlarmReceiver" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.view.MainActivity"
            android:launchMode="singleTask" />

        <activity android:name=".register.view.RegisterAct" />

        <activity android:name=".setting.view.SettingsActivity" />
        <activity android:name=".profile.view.ProfileAct"/>

        <activity android:name=".im.view.ChatActivity"/>
        <activity android:name=".im.view.IMSearchFriendAct"/>
        <activity android:name=".im.view.IMAddFriendAct"/>
        <activity android:name=".im.view.IMContactListAct"/>
        <activity android:name=".im.view.IMForwardListAct"/>

    </application>

</manifest>